<div class="user-pill">
  <%= render partial: "shared/profile-picture", locals: { user: user } %>
  <div class="user-pill__user-name">
    <div class="user-pill__user-name__display-name">
      <%= user.display_name || user.username %>
    </div>
    <div class="user-pill__user-name__handle">
      <%= "@#{user.username}" %>
    </div>
  </div>
</div>
