<div class="card new-memo-wrapper">
  <%= render partial: "shared/profile-picture", locals: { user: current_user } %>
  <%= form_with model: memo do |form| %>
    <%= form.text_area :body, placeholder: "What's on your mind?", maxlength: 500 %>
    <%= form.submit "Say" %>
  <% end %>

</div>