.l-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 273px;
  height: 100vh;
  padding: var(--space-l) 0 var(--space-l) var(--space-xxl);
  background-color: var(--color-white);
  border: 1px solid var(--color-light);

  div,
  a {
    transition: background-color 0.3s ease-in-out;
  }
}
