.button {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  font-weight: var(--font-weight-bold);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: filter 250ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    filter: brightness(105%);
  }


  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--secondary {
    background-color: var(--color-lighter);
    border-color: var(--color-light);
  }
}
