.branded-form-title {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  textarea {
    resize: vertical;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    margin-top: 6px;
    padding: 6px;
  }

  &__checkbox-group {
    display: flex;
    align-items: center;
    gap: var(--space-s);

    input[type='checkbox'] {
      width: auto;
      padding: var(--space-s);
    }
  }
}

.actions {
  margin-bottom: 20px;
}
