.memo {

  display: flex;
  flex-direction: column;
  gap: 20px;

  .author {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .display-name {
    font-weight: bold;
  }

  .username {
    font-weight: lighter;
  }
}