.new-memo-wrapper {
  display: flex;

  form {
    margin-left: 16px;
  }

  form,
  textarea {
    width: 100%;
  }

  textarea {
    resize: vertical;
    font-family: $font-family;
    font-size: 20px;
    border: none;
    padding-top: 8px;
    margin-bottom: 14px;

    &:focus-visible {
      outline: none;
    }
  }
}