.sidebar-menu {
  flex-grow: 1;

  &__logo {
    padding-left: var(--space-s);
    margin-bottom: var(--space-m);
  }

  &__item {
    padding: var(--space-s);
    border-radius: var(--border-radius);
    display: flex;
    align-items: end;
    gap: var(--space-s);

    &.active {
      font-weight: var(--font-weight-bold);
    }

    img {
      height: 25px;
      width: 25px;
    }

    &:hover {
      background-color: var(--color-lighter);
    }

    &__text {
      font-size: var(--font-size-l);
    }
  }
}