<div class="l-feed">
  <div id="memos" class="memo-list">
    <% memos.each do |memo| %>
      <div class="memo-wrapper">
        <%= link_to "", memo, class: "memo-link" %>
        <%= render memo %>
      </div>
    <% end %>
  </div>
</div>